<%- include('./partials/head'); %>

<div class="container-fluid bg-info text-center" style="padding: 5% 10% 0; height: 100vh;">
    <img src="./svg/internet.svg" alt="" height="400" width="400">
    <h2>404 ERROR NOT FOUND</h2>
</div>

<%- include('./partials/scripts'); %>