<%- include('./partials/head'); %>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow p-3">
  <a class="navbar-brand display-4" href="#">
    PMS
    <img src="./svg/key.svg" alt="" height="40">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Password Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/password-category">View All Category</a>
          <a class="dropdown-item" href="/add-new-category">Add new Category</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Password Details
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/view-all-password">View All Password</a>
            <a class="dropdown-item" href="/add-new-Password">Add new Password</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item text-white mt-2 mr-4 pr-4">
        <h4> <span style="font-size: 18px;"> Welcome :</span> <%= loginUsername %> </h4>
      </li>
        <li class="nav-item">
            <a href="/logout" class="btn btn-danger btn-sm">Log Out </a>
        </li>
    </ul>
  </div>
</nav>


<div class="container">
    <h2 class="text-center m-4 display-4">
        <%= title %>
    </h2>
    <table class="table shadow">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Passsword details</th>
            <th scope="col text-dark">EDIT</th>
            <th scope="col text-dark">DELETE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Details </td>
            <td>Mark</td>
            <td>
                <a class="btn btn-sm btn-info text-white">EDIT</a>
            </td>
            <td>
                <a class="btn btn-sm btn-danger text-white">DELETE</a>
            </td>
          </tr>
        </tbody>
      </table>

</div>

<%- include('./partials/scripts'); %>